/* ===================== */
/* Global Reset & Basics */
/* ===================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black; /* Ensures no white borders */
  overflow-x: hidden; /* Prevents unwanted horizontal scrolling */
}


/* ================= */
/* Typography Styles */
/* ================= */

h1 {
  font-family: 'GT_custom';
  font-weight: 100;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

h2, h3 {
  font-family: "GT_custom", "GT Sectra", "Hoefler Text", "Times New Roman", serif;
  font-weight: 200;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.footerLink{
  font-family: "GT_custom", "GT Sectra", "Hoefler Text", "Times New Roman", serif;
  font-weight: 200;
  
}

p {
  font-family: "GT_custom", "GT Sectra", "Hoefler Text", "Times New Roman", serif;
  font-weight: normal;
  scroll-behavior: smooth;
  text-align: justify;
  text-justify: inter-word;
  text-align-last: center;
  width: 90vw;
  line-height: 1.3;
}

/* ============================= */
/* Header - "Cowcow" Title & Nav */
/* ============================= */

.header-title {
  position: relative;
  z-index: 2; /* Ensures the title stays above the image */
  text-align: center;
  padding: 20px 0;
}

/* ======================== */
/* Video & Image Background */
/* ======================== */

.hero {
  display: flex;
  flex-direction: column;  /* Staplar elementen vertikalt */
  align-items: center;     /* Centrerar dem horisontellt */
  text-align: center;      /* Centrerar texten */
  padding: 20px 20px;      /* Lägger till lite luft runt */
}

.hero img {
  width: 100%; /* Justera storlek efter behov */
  height: auto; /* Behåller bildens proportioner */
}

.video-background, .image-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  /* background-image: url('hen.JPG');  Fallback image */
  background-size: cover;
  background-position: center;
}

.background-video, .label-bg, .farm-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =================== */
/* Centered Content */
/* =================== */

.title, .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.title h1 {
  font-size: 3rem;
  width: 100%;
}

.content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.content h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.content p {
  font-size: 0.9rem;
  margin: 20px 0;
}

/* ======================= */
/* Navigation & Links */
/* ======================= */
.links {
  white-space: nowrap;        /* Prevents line breaks */
  display: flex;              /* Aligns links in a row */
  justify-content: center;    /* Centers them horizontally */
  /*gap: 10px;                  /* Adds spacing between links */*/
  flex-wrap: wrap;            /* Allows wrapping if necessary */
}

.links a, .links-main a, .header-title a {
  font-family: 'orator', monospace;
  font-weight: 200;
  font-size: 1rem;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.links-main {
  font-size: 1.2rem;
  position: relative;
  z-index: 2; /* Ensures the links appear above the image */
  text-align: center;
  margin-top: 2px;
}

#active-link{
  text-decoration: underline;
}

.links a:hover, .links-main a:hover, footer a:hover, .header-title a:hover {
  color: whitesmoke;
  text-decoration: underline;
  background-color: rgba(222, 222, 222, 0.1);
  backdrop-filter: blur(4px);
}


/* ============= */
/* Footer Styles */
/* ============= */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 40px 0;
  color: white;
}

footer a {
  text-decoration: none;
  font-family: "orator", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 1.1rem;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}


/* ================= */
/* Font Definitions */
/* ================= */

@font-face {
  font-family: 'CustomFont';
  src: url('bnp.woff2') format('woff2'), url('bnp.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: 'GT_custom_italic';
  src: url('GT-italic.woff2') format('woff2'), url('GT-italic.woff') format('woff');
}

@font-face {
  font-family: 'GT_custom';
  src: url('GT-book.woff2') format('woff2'), url('GT-book.woff') format('woff');
}

@font-face {
  font-family: 'orator';
  src: url('orator.woff2') format('woff2'), url('orator.woff') format('woff');
}

/* =============== */
/* Media Queries */
/* =============== */

@media only screen and (min-width: 768px) {
  .title h1 {
  font-size: 4rem;
  }
  .content h2 {
    font-size: 2.5rem;
  }
  .links a{
      font-size: 1rem;
  }
  .header-title a {
    font-size: 1.2rem;
  }
  .links-main a {
    font-size: 1.2rem;
  }
  p {
    width: 45vw;
    line-height: 1.3;
  }
  .content p {
    font-size: 1rem;
  }
}
