/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1{
	font-family: 'customFont';
	font-weight: 100;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
h2{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 400;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
h3{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 400;
	text-shadow:  2px 2px 5px rgba(0, 0, 0, 0.2);
	
}
p{
	  font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: 100;
  scroll-behavior: smooth;
	width: 80vw;
	line-height: 1.3;
}
/* General Styles */
body, html {
  height: 100%;
}

/* Fullscreen Video Background */
.video-background, .image-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
/* fallback image Background */
	backgorund-color: black;
	background-image: url('hen.JPG'); /* Fallback image */
 	background-size: cover;
 	background-position: center;
  	transition: filter 0.5s ease; /* Smooth transition when removing blur */
}

.background-video, .label-bg, .farm-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.label-bg {
  background: url('abbg.jpg') center/cover no-repeat;
}

.farm-bg {
  background: url('far.jpg') center/cover no-repeat;
}

/* Centered Content */
.title, .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  
}

.title h1 {
  font-size: 7vw;
	width: 100%;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.content p {
  font-size: 0.9rem;
  margin: 20px 0;
}

.links a {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  	display: inline-block;
	padding: 0.25em 0.5em 0.25em 0.5em;
  	text-decoration: none;
	font-weight: 300;
	color: wheat;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  	transition: all 0.3s ease;
}
.links-main a{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	display: inline-block;
	font-weight: 400;
	font-size: 1.1rem;
  	margin-top: 10px;
	padding: 0.25em 0.5em 0.25em 0.5em;
  	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

.links a:hover, footer a:hover, .links-main a:hover {
	color: whitesmoke;
	text-decoration: underline;
  background-color: rgba(222, 222, 222, 0.1);
	backdrop-filter: blur(4px);
}

/* Header and Footer */
.header-title a{
	font-family: 'customFont';
	font-weight: 100;
	text-decoration: none;
	cursor:pointer;
  position: absolute;
  top: 40px;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Footer Styling */
footer {
  position: absolute; /* Sticks footer to the bottom of its container */
  bottom: 0; /* Anchors to the bottom */
  left: 0;
  width: 100%;
  text-align: center;
  padding: 40px 0;
  color: white;
}

footer a {
  text-decoration: none;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  color: wheat;
  font-size: 1.1rem;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}
@font-face {
  font-family: 'CustomFont';
  src: url('bnp.woff2') format('woff2'), url('bnp.woff2') format('woff');
  font-weight: 200; /* You can define weights if needed */
}
@media only screen and (min-width: 768px) {
	p{
	width: 45vw;
	line-height: 1.3;
}
	.content p {
  font-size: 1rem;
}
	.links-main a{
			font-size: 1.6rem;
	}
	.content h2 {
  font-size: 2.5rem;
}

	
}
